$tipografia-principal:'Creepster', cursive; 
$tipografia-secundaria:'Neucha', cursive;
$color-principal:white;
$color-secundario:rgba(156, 154, 152, 0.692);
$color-alternativo: rgb(58, 128, 156);
$color-alternativo-claro:rgb(157, 196, 211);
$color-buscador:rgb(146, 173, 143);
$borde-predeterminado:3px double rgb(4, 73, 13);



