@import "variables";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: $color-secundario;
}

nav {
  @include estilosnav;
}
.imgnav {
  border-radius: 30px;
}

#personajes,
#episodios,
#ubicaciones {
  @include botones_nav();
}

ul,
a {
  @include links;
}

.section-busqueda {
  @include seccion-busqueda;
}
.buscador {
  @include estilos-buscador;
  margin-bottom: 70px;
}
#input-busqueda-personaje {
  @include boton-busqueda;

}
label {
  font-size: 40px;
}

.contenedor-resultados {
  display: flex;
  margin-top: 100px;
}

.section-resultados-personajes, .section-resultados-episodios, .section-resultados-ubicaciones {
  @include estilos-seccion-resultados;
}
.card {
  @include estilos-tarjetas;
}

.card img {
  @include imagen-tarjeta;
}
.paginado-personajes, .paginado-episodios, .paginado-ubicaciones {
  @include div-paginado;
}

#prev,
#next,
#prevepisodios,
#nextepisodios,
#prevubicaciones,
#nextubicaciones {
  @include botonpagina;
}
footer {
  @include estilos-footer;
}
.pie-de-pagina {
  font-family: $tipografia-secundaria;
  color: $color-secundario;
  @include display;
}

h2 {
  @include display;
}

.menu-mobile {
  display: none;
}


.contenedor-resultados-episodios, .contenedor-resultados-ubicaciones{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.card-episodios, .card-ubicaciones{
  @include estilos-tarjetas;

}


//RESPONSIVE
@media screen and (max-width: 1149px) {
 
  #personajes,
  #episodios,
  #ubicaciones {
    height: 60px;
    width: 90px;
  }
}

@media screen and (max-width: 1024px) {
  label {
    font-size: 30px;
  }

  #personajes,
  #episodios,
  #ubicaciones,
  ul {
    display: none;
  }
  .menu-mobile {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 60px;
    margin-top: 20px;
    background-color: $color-buscador;
    text-decoration: none;
  }
  #bars {
    background-color: $color-buscador;
    text-decoration: none;
    font-size: 60px;
  }
  .buscar-personaje {
    padding: 0;
    margin: 0;
    border: none;
  }

  i {
    color: $color-alternativo;
  }
  .buscador {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  #input-busqueda-personaje {
    font-size: 15px;
    width: 180px;
    height: 10px;
    margin: 10px;
    margin-top: 20px;
  }
  .navegador {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
}

@media screen and (max-width: 875px) {

  label {
    font-size: 30px;
  }

  #personajes,
  #episodios,
  #ubicaciones,
  ul {
    display: none;
  }
  .menu-mobile {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 60px;
    margin-top: 20px;
    text-decoration: none;
  }

  #bars {
    background-color: $color-buscador;
    text-decoration: none;
    font-size: 60px;
  }

  .buscar-personaje{
    padding: 0;
    margin: 0;
    border: none;
    color: $color-buscador;
  }

  i {
    color: $color-alternativo;
  }

  .buscador {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  #input-busqueda-personaje {
    font-size: 15px;
    width: 180px;
    height: 10px;
    margin: 10px;
    margin-top: 20px;
  }
  .navegador {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
 
 }

@media screen and (max-width: 616px) {
  .imgnav {
    width: 350px;
    height: 280px;
  }
}

@media screen and (max-width: 425px) {
  .imgnav {
    width: 300px;
    height: 240px;
  
  }
  .buscador {
    width: 280px;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #bars {
    font-size: 60px;
  }
  label {
    font-size: 25px;
  }

  #input-busqueda-personaje {
    width: 90px;
    padding: 10px;
    margin-top: 30px;
  }
  #prev,
  #next {
    font-size: 10px;
    width: 100px;
  }
}
