@import "variables";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: $color-secundario;
}

nav {
  @include estilosnav;
}
.imgnav {
  border-radius: 30px;
}

#personajes,
#episodios,
#ubicaciones {
  @include botones_nav();
}

ul,
a {
  @include links;
}

.section-busqueda {
  @include seccion-busqueda;
}
.buscador {
  @include estilos-buscador;
  margin-bottom: 70px;

}
#boton-busqueda {
  @include boton-busqueda;
}

.contenedor-resultados {
  display: flex;
  margin-top: 100px;
}

.section-resultados-personajes {
  @include estilos-seccion-resultados;
}
.card {
  @include estilos-tarjetas;
}

.card img {
  @include imagen-tarjeta;
}
.paginado-personajes {
  @include div-paginado;
}
#prev,
#next {
  @include botonpagina;
}
footer {
  @include estilos-footer;
}
.pie-de-pagina {
  font-family: $tipografia-secundaria;
  color: $color-secundario;
  @include display;
}

h2 {
  @include display;
}
